<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block styles %}{% endblock%}

    <title>{% block title %}{% endblock%}</title>

</head>

<body>
{% block body %}{% endblock%}
{% block footer %}Template PAI{% endblock%}
</body>
</html>


