{% extends 'layout.html.twig' %}
{% block title %}Bem vindo ao Syph{% endblock %}
{% block body %}
    <div class="loader-wrapper">
        <div id="loader-image"></div>
    </div>
    <!-- **Wrapper** -->
    <div class="wrapper">
        <div class="inner-wrapper">

            <!-- **Main - Starts** -->
            <div id="main">
                <div class="blank-template-container">
                    <div class="blank-template">
                        <div class="blank-template-wrapper">
                            <div class="container">
                                <!-- Primary Starts -->
                                <section id="primary" class="content-full-width">
                                    <img src="{{ asset('/assets/images/logo.png') }}" style="width: 200px; margin: 0 41%;">
                                    <h2 class="aligncenter">Bem vindo ao Syph</h2>
                                    <p class="aligncenter">Parabéns por escolher começar certo.</p>

                                    <h3 class="aligncenter"> Entre em contato </h3>
                                    <div class="aligncenter">
                                        <ul class="dt-sc-social-icons" style="padding: 0;">
                                            <li> <a title="documentation" href="syph-fw.com"> <span class="fa fa-book"></span>  </a> </li>
                                            <li> <a title="email" href="mailto:syph-fw@gmail.com"> <span class="fa fa-envelope"></span>  </a> </li>
                                            <li> <a title="github" href="https://github.com/sylabs"> <span class="fa fa-github"></span>  </a> </li>
                                        </ul>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- **Main - Ends** -->

        </div><!-- **inner-wrapper - End** -->

    </div><!-- **Wrapper - End** -->
{% endblock %}
